<h1> Уважаемый обладатель почты <%= @email %></h1>


<div style="background-color: <%= @color %>; display: inline-block; height: 1em; width: 33em">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>




<h4>В ближайшее время вам ответят</h4>